<div ng-if="user.isLoggedIn">

	<div ng-controller="ImagesController" ng-init="getImages()">

		<div ng-include="layout.navigator"></div>

		<div class="row">

			<div class="col-lg-12" ng-show="action == 'list'">
				<div class="panel panel-primary">
					<div class="panel-heading">Images</div>
					<div class="panel-body">
						<div class="row my-toolbar">
							<div class="col-sm-4 text-left search my-search">
								<input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj">
								<a href="#" class="btn btn-primary" ng-click="findImages()">Szukaj</a>
							</div>
							<div class="col-sm-8 text-right buttons">
								<a href="#" class="btn btn-success" ng-click="newImage()">Dodaj obrazek</a>
								<a href="#" class="btn btn-warning" ng-click="showGallery()">Galeria</a>
								<a href="/admin" class="btn btn-danger">Zamknij</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table-bordered table-striped">
								<tr class="table-header">
									<th>Id</th>
									<th class="text-center">View</th>
									<th width="20%">Filename</th>
									<th>Format</th>
									<th>Size</th>
									<th>Width</th>
									<th>Height</th>
									<th>Owner</th>
									<th>Modified</th>
									<th class="text-center">Action</th>
								</tr>
								<tr ng-if="processing">
									<td colspan="10" class="loading"><img src="public/img/loader.gif"></td>
								</tr>
								<tr ng-if="!processing" ng-repeat="image in imagesList | filter:searchValue">
									<td>{{ image.id }}</td>
									<td class="text-center"><div class="image-frame"><img ng-src="{{ images_data[image.id] }}"></div></td>
									<td>{{ image.file_name }}</td>
									<td>{{ image.file_format }}</td>
									<td>{{ image.file_size | bytes }}</td>
									<td>{{ image.picture_width }}</td>
									<td>{{ image.picture_height }}</td>
									<td>{{ image.owner_name }}</td>
									<td>{{ image.modified }}</td>
									<td class="action">
										<a href="#" class="btn btn-info btn-xs" ng-click="editImage(image.id)">Edytuj</a>
										<a href="#" class="btn btn-warning btn-xs" ng-click="previewImage(image.id)">Podgląd</a>
										<a href="#" class="btn btn-danger btn-xs" ng-click="deleteImage(image.id, false)">Usuń</a>
									</td>
								</tr>
								<tr ng-if="!imagesList.length && !processing">
									<td colspan="10">
										<div class="content-center">
											<img src="public/img/not-found.png" class="img-responsive" alt="No results">
											<div class="no-results">(Brak wyników)</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'add'">
				<form class="form" role="form" method="post">
					<div class="panel panel-primary my-panel">
						<div class="panel-heading">Nowa pozycja</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="image">Image:</label>
								<input type="file" class="form-control" id="image" file-model="imageNew.file_data" ng-disabled="processing">
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" type="submit" ng-disabled="processing" ng-click="addImage()">Zapisz</button>
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelImage()" value="Anuluj">
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-12" ng-show="action == 'edit'">
				<form class="form" role="form" method="post">
					<div class="panel panel-primary my-panel">
						<div class="panel-heading">Edycja pozycji #{{ id }}</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="last_image">Last image:</label>
								<div class="content-center">
									<div ng-if="!processing">
										<img ng-src="{{ result_data }}" id="last_image" width="100%" class="bordered">
										<div>Fot. {{ id }}. "{{ file_name }}"</div>
									</div>
									<div ng-if="processing">
										<img src="public/img/loader.gif">
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="new_image">New image:</label>
								<input type="file" class="form-control" id="new_image" file-model="imageEdit.file_data" ng-disabled="processing">
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" type="submit" ng-disabled="processing" ng-click="saveImage(id)">Zapisz</button>
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelImage()" value="Anuluj">
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-12" ng-show="action == 'preview'">
				<div class="panel panel-primary">
					<div class="panel-heading">Podgląd pozycji #{{ id }}</div>
					<div class="panel-body">
						<div class="form-group">
							<label for="image">Image:</label>
							<div class="content-center">
								<div ng-if="!processing">
									<img ng-src="{{ result_data }}" id="image" width="100%" class="bordered">
									<div>Fot. {{ id }}. "{{ file_name }}"</div>
								</div>
								<div ng-if="processing">
									<img src="public/img/loader.gif">
								</div>
							</div>
						</div>
					</div>
					<div class="panel-footer text-center">
						<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelImage()" value="Anuluj">
					</div>
				</div>
			</div>

			<div class="col-lg-12" ng-show="action == 'gallery'">
				<div class="panel panel-primary">
					<div class="panel-heading">Gallery</div>
					<div class="panel-body">
						<div class="row text-center">
							<span ng-repeat="image in imagesList">
								<a href="#" ng-click="previewImage(image.id)">
									<div class="gallery-frame">
										<img ng-src="{{ images_data[image.id] }}" title="Id: {{ image.id }}">
									</div>
								</a>
							</span>
							<span ng-if="!imagesList.length && !processing">
								<div class="content-center">
									<img src="public/img/not-found.png" class="img-responsive" alt="No results">
									<div class="no-results">(Brak wyników)</div>
								</div>
							</span>
						</div>
					</div>
					<div class="panel-footer text-center">
						<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="getImages()" value="Anuluj">
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12">
				<div ng-include="layout.messager"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'dialog'">
				<div class="screen-centered">
					<div class="panel panel-primary my-dialog">
						<div class="panel-heading">Usuwanie rekordu</div>
						<div class="panel-body">
							<p><div class="icon"><i class="fa fa-3x fa-trash-o" aria-hidden="true"></i></div></p>
							<p>Uwaga! Czy na pewno chcesz usunąć wskazaną pozycję?</p>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-danger" ng-disabled="processing" ng-click="deleteImage(id, true)">Skasuj</a>
							<a href="#" class="btn btn-warning" ng-disabled="processing" ng-click="cancelImage()">Anuluj</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
