<div ng-controller="AuthController">

    <div class="screen-centered">

        <div class="row" smooth-show>
            <div class="col-md-12">
                <form class="form-signin my-form" method="post" ng-submit="doReset()">
                    <h3 class="form-signin-heading my-heading">
                        <span class="glyphicon glyphicon-share" aria-hidden="true"></span> &nbsp; Hasło
                    </h3>
                    <div class="field-label">E-mail:</div>
                    <input type="text" class="form-control" ng-model="resetData.email" ng-disabled="processing" required auto-focus>
                    <div class="my-buttons">
                        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Zmień hasło" ng-disabled="processing">
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="text-center"><a href="/login">Przejdź do logowania</a></div>
            </div>
        </div>

    </div>

    <div class="screen-middle">

        <div class="row">
            <div class="col-md-12">
                <div ng-if="processing" class="text-center"><img src="public/img/loader.gif"></div>
            </div>
        </div>

    </div>

    <div class="screen-bottom">

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="my-message">
                    <div ng-if="error" class="alert alert-danger" role="alert">{{ message }}</div>
                    <div ng-if="info" class="alert alert-success" role="alert">{{ message }}</div>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>

    </div>

</div>
