<div ng-controller="CategoryController" ng-init="getPages()">

	<div ng-if="processing">
		<div class="screen-centered">
			<div class="text-center">
				<div class="loading"><img src="public/img/loader.gif"></div>
			</div>
		</div>
	</div>

	<div ng-if="type == 'item'">
		<h3>{{ pageContent.title }}</h3>
		<div class="article-header">
			<i class="fa fa-calendar"></i> &nbsp; {{ pageContent.modified | limitTo:10 }} &nbsp; <i class="fa fa-user"></i> &nbsp; {{ pageContent.author_name }}
		</div>
		<div class="article-content" smooth-show>
			<div ng-bind-html="pageContent.contents"></div>
		</div>
	</div>

	<div ng-if="type == 'list'">
		<ul class="article-items">
			<li ng-repeat="page in pagesList" ng-if="page.id">
				<h3><a href="/page/{{ page.id }}">{{ page.title }}</a></h3>
				<div class="article-header">
					<i class="fa fa-calendar"></i> &nbsp; {{ page.modified | limitTo:10 }} &nbsp; <i class="fa fa-user"></i> &nbsp; {{ page.author_name }}
				</div>
				<div class="article-content">
					{{ page.description | htmlToPlaintext | limitTo:256 }}<span ng-if="page.description.length > 256">...</span>
				</div>
			</li>
		</ul>
	</div>

	<div ng-if="type == 'empty'">
		<div class="screen-centered">
			<div class="content-center">
				<img src="public/img/page-not-found.png" class="img-responsive" alt="Angular CMS - Page not found">
				<h2 class="red">Strona nie znaleziona.</h2>
			</div>
		</div>
	</div>

</div>

