<div ng-if="user.isLoggedIn">

	<div ng-controller="VisitorsController" ng-init="getVisitors()">

		<div ng-include="layout.navigator"></div>

		<div ng-show="user.access_table['visitors'] == false" class="row">
			<div class="col-lg-12">
			    <div ng-include="layout.access"></div>
			</div>
		</div>

		<div ng-show="user.access_table['visitors'] == true" class="row">

			<div class="col-lg-12" ng-show="action == 'list'">
				<div class="panel panel-primary">
					<div class="panel-heading">Visitors</div>
					<div class="panel-body">
						<div class="row my-toolbar">
							<div class="col-sm-4 text-left search my-search">
								<input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj">
								<a href="#" class="btn btn-primary" ng-click="findVisitors()">Szukaj</a>
								<a href="#" class="btn btn-danger" ng-click="closeFilter()"><i class="fa fa-times" aria-hidden="true"></i></a>
							</div>
							<div class="col-sm-8 text-right buttons">
								<a href="/logins" class="btn btn-success">Logowania</a>
								<a href="/searches" class="btn btn-warning">Wyszukiwania</a>
								<a href="#" class="btn btn-primary" ng-click="viewChart()">Wykresy</a>
								<a href="/admin" class="btn btn-danger">Zamknij</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table-bordered table-striped">
								<tr class="table-header">
									<th>Id</th>
									<th>IP</th>
									<th>Host</th>
									<th>Referer</th>
									<th>Request</th>
									<th>Visited</th>
									<th class="text-center">Action</th>
								</tr>
								<tr ng-if="processing">
									<td colspan="7" class="loading"><img src="public/img/loader.gif"></td>
								</tr>
								<tr ng-if="!processing" ng-repeat="visitor in visitorsList | filter:searchValue" class="common">
									<td>{{ visitor.id }}</td>
									<td>{{ visitor.visitor_ip }}</td>
									<td>{{ visitor.host_name }}</td>
									<td>{{ visitor.http_referer | limitTo:60 }}<span ng-if="visitor.http_referer.length > 60">...</span></td>
									<td>{{ visitor.request_uri }}</td>
									<td>{{ visitor.visited }}</td>
									<td class="action">
										<a href="#" class="btn btn-danger btn-xs" ng-click="excludeVisitor(visitor.visitor_ip)">Wyklucz</a>
										<a href="#" class="btn btn-info btn-xs" ng-click="viewVisitor(visitor.id)">Szczegóły</a>
									</td>
								</tr>
								<tr ng-if="!visitorsList.length && !processing">
									<td colspan="7">
										<div class="content-center">
											<img src="public/img/not-found.png" class="img-responsive" alt="No results">
											<div class="no-results">(Brak wyników)</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12">
				<div ng-include="layout.messager"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'view'">
				<form class="form" role="form">
					<div class="panel panel-primary my-panel">
						<div class="panel-heading">Szczegóły pozycji #{{ visitorView.id }}</div>
						<div class="panel-body">
							<div class="row form-group">
								<div class="col-md-3">
									<label for="visitor_ip">IP:</label>
								</div>
								<div class="col-md-9">
									{{ visitorView.visitor_ip }}
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-3">
									<label for="host_name">Host:</label>
								</div>
								<div class="col-md-9">
									{{ visitorView.host_name }}
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-3">
									<label for="http_referer">Referer:</label>
								</div>
								<div class="col-md-9">
									<a href="{{ visitorView.http_referer }}" target="_blank">{{ visitorView.http_referer }}</a>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-3">
									<label for="request_uri">Request:</label>
								</div>
								<div class="col-md-9">
									<a href="{{ visitorView.request_uri }}" target="_blank">{{ visitorView.request_uri }}</a>
								</div>
							</div>
							<div class="row form-group">
								<div class="col-md-3">
									<label for="visited">Visited:</label>
								</div>
								<div class="col-md-9">
									{{ visitorView.visited }}
								</div>
							</div>
						</div>
						<div class="panel-footer text-center">
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelVisitor()" value="Anuluj">
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-12" ng-show="action == 'chart'">
				<form class="form" role="form">
					<div class="panel panel-primary">
						<div class="panel-heading">Wizyty użytkowników oraz ilość nawigacji</div>
						<div class="panel-body">
							<div ng-if="processing">
								<div class="text-center">
									<div class="loading"><img src="public/img/loader.gif"></div>
								</div>
							</div>
							<div ng-if="!processing">
								<canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels" chart-series="series" chart-options="options" chart-dataset-override="datasetOverride" chart-click="onClick" chart-colors="colors"></canvas>
							</div>
						</div>
						<div class="panel-footer text-center">
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelVisitor()" value="Anuluj">
						</div>
					</div>
				</form>
			</div>

		</div>

	</div>

</div>
