<div ng-if="user.isLoggedIn">

	<div ng-controller="GamesController" ng-init="getGames()">

		<div ng-include="layout.navigator"></div>

		<div ng-show="user.access_table['games'] == false" class="row">
			<div class="col-lg-12">
			    <div ng-include="layout.access"></div>
			</div>
		</div>

		<div ng-show="user.access_table['games'] == true" class="row">

			<div class="col-lg-12" ng-show="action == 'list'">
				<div class="panel panel-primary">
					<div class="panel-heading">Games</div>
					<div class="panel-body">
						<div class="row my-toolbar">
							<div class="col-sm-4 text-left search">
								<input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj">
							</div>
							<div class="col-sm-8 text-right buttons">
								<a href="/searches" class="btn btn-danger">Zamknij</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table-bordered table-striped">
								<tr class="table-header">
									<th>Id</th>
									<th>IP</th>
									<th>Blocks</th>
									<th>Maps</th>
									<th>Level</th>
									<th>Scores</th>
									<th>Record</th>
									<th>Achieved</th>
									<th>Play Time</th>
									<th>Saved</th>
									<th class="text-center">Action</th>
								</tr>
								<tr ng-if="processing">
									<td colspan="11" class="loading"><img src="public/img/loader.gif"></td>
								</tr>
								<tr ng-if="!processing" ng-repeat="game in gamesList | filter:searchValue" class="common">
									<td>{{ game.id }}</td>
									<td>{{ game.ip }}</td>
									<td>{{ game.blocks }}</td>
									<td>{{ game.maps }}</td>
									<td>{{ game.level }}</td>
									<td>{{ game.scores }}</td>
									<td>{{ game.record }}</td>
									<td>{{ game.achieved }}</td>
									<td>{{ game.play_time }}</td>
									<td>{{ game.saved }}</td>
									<td class="action">
										<a href="#" class="btn btn-danger btn-xs" ng-click="deleteGame(game.id, false)">Usuń</a>
									</td>
								</tr>
								<tr ng-if="!gamesList.length && !processing">
									<td colspan="11">
										<div class="content-center">
											<img src="public/img/not-found.png" class="img-responsive" alt="No results">
											<div class="no-results">(Brak wyników)</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12">
				<div ng-include="layout.messager"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'dialog'">
				<div class="screen-centered">
					<div class="panel panel-primary my-dialog">
						<div class="panel-heading">Usuwanie rekordu</div>
						<div class="panel-body">
							<span class="icon"><i class="fa fa-4x fa-question" aria-hidden="true"></i></span>
							<span class="message">Uwaga! <br>Wskazana pozycja zostanie usunięta. <br>Czy na pewno chcesz usunąć wskazaną pozycję?</span>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-danger" ng-disabled="processing" ng-click="deleteGame(id, true)">Skasuj</a>
							<a href="#" class="btn btn-warning" ng-disabled="processing" ng-click="cancelGame()">Anuluj</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
