<div ng-if="user.isLoggedIn">

	<div ng-controller="UsersController" ng-init="getUsers()">

		<div ng-include="layout.navigator"></div>

		<div class="row">

			<div class="col-lg-12" ng-show="action == 'list'">
				<div class="panel panel-primary">
					<div class="panel-heading">Users</div>
					<div class="panel-body">
						<div class="row my-toolbar">
							<div class="col-sm-4 text-left search my-search">
								<input type="search" class="form-control" ng-model="searchValue" placeholder="Szukaj">
								<a href="#" class="btn btn-primary" ng-click="findUsers()">Szukaj</a>
								<a href="#" class="btn btn-danger" ng-click="closeFilter()"><i class="fa fa-times" aria-hidden="true"></i></a>
							</div>
							<div class="col-sm-8 text-right buttons">
								<a href="#" class="btn btn-success" ng-click="newUser()">Dodaj użytkownika</a>
								<a href="/admin" class="btn btn-danger">Zamknij</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table-bordered table-striped">
								<tr class="table-header">
									<th>Id</th>
									<th>Login</th>
									<th>Email</th>
									<th>Role</th>
									<th>Registered</th>
									<th>Logged</th>
									<th>Token</th>
									<th class="text-center">Action</th>
								</tr>
								<tr ng-if="processing">
									<td colspan="8" class="loading"><img src="public/img/loader.gif"></td>
								</tr>
								<tr ng-if="!processing" ng-repeat="userItem in usersList | filter:searchValue" class="{{ userItem.id == user.id ? 'green-bold' : (userItem.active == 1 ? 'blue' : 'red') }}">
									<td>{{ userItem.id }}</td>
									<td>{{ userItem.login }}</td>
									<td>{{ userItem.email }}</td>
									<td>{{ roles[userItem.role - 1].name }}</td>
									<td>{{ userItem.registered }}</td>
									<td>{{ userItem.logged_in }}</td>
									<td>{{ userItem.token | limitTo:10 }}<span ng-if="userItem.token.length > 10">...</span></td>
									<td class="action">
										<a href="#" class="btn btn-info btn-xs" ng-click="editUser(userItem.id)">Edytuj</a>
										<a href="#" class="btn btn-warning btn-xs" ng-click="changePassword(userItem.id)">Hasło</a>
										<a href="#" class="btn btn-success btn-xs" ng-click="editRights(userItem.id)">Uprawnienia</a>
										<a href="#" class="btn btn-primary btn-xs" ng-click="logoutUser(userItem.id)">Wyloguj</a>
										<a href="#" class="btn btn-danger btn-xs" ng-click="deleteUser(userItem.id, false)">Usuń</a>
									</td>
								</tr>
								<tr ng-if="!usersList.length && !processing">
									<td colspan="8">
										<div class="content-center">
											<img src="public/img/not-found.png" class="img-responsive" alt="No results">
											<div class="no-results">(Brak wyników)</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'add'">
				<form class="form" role="form" method="post">
					<div class="panel panel-primary my-panel">
						<div class="panel-heading">Nowa pozycja</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="login">Login:</label>
								<input type="text" class="form-control" id="login" ng-model="userNew.login" ng-disabled="processing" required>
							</div>
							<div class="form-group">
								<label for="email">E-mail:</label>
								<input type="email" class="form-control" id="email" ng-model="userNew.email" ng-disabled="processing" required>
							</div>
							<div class="form-group">
								<label for="password">Password:</label>
								<input type="password" class="form-control" id="password" ng-model="userNew.password" ng-disabled="processing" required>
							</div>
							<div class="row form-group">
								<div class="col-md-8">
									<label for="role">Role:</label><br>
									<select class="form-control" id="role" ng-model="userNew.role" ng-disabled="processing">
										<option ng-repeat="option in roles" value="{{ option.id }}">{{ option.name }}</option>
									</select>
								</div>
								<div class="col-md-4">
									<label for="active">Active:</label><br>
									<input type="checkbox" class="form-control" id="active" ng-model="userNew.active" ng-disabled="processing" bootstrap-switch>
								</div>
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" type="submit" ng-disabled="processing" ng-click="addUser()">Zapisz</button>
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelUser()" value="Anuluj">
						</div>
					</div>
				</form>
			</div>

			<div class="col-lg-12" ng-show="action == 'edit'">
				<form class="form" role="form" method="post">
					<div class="panel panel-primary my-panel">
						<div class="panel-heading">Edycja pozycji #{{ userEdit.id }}</div>
						<div class="panel-body">
							<input type="hidden" ng-model="userEdit.id">
							<div class="form-group">
								<label for="login">Login:</label>
								<input type="text" class="form-control" id="login" ng-model="userEdit.login" ng-disabled="processing" required>
							</div>
							<div class="form-group">
								<label for="email">E-mail:</label>
								<input type="email" class="form-control" id="email" ng-model="userEdit.email" ng-disabled="processing" required>
							</div>
							<div class="row form-group">
								<div class="col-md-8">
									<label for="role">Role:</label><br>
									<select class="form-control" id="role" ng-model="userEdit.role" ng-disabled="processing">
										<option ng-repeat="option in roles" value="{{ option.id }}">{{ option.name }}</option>
									</select>
								</div>
								<div class="col-md-4">
									<label for="active">Active:</label><br>
									<input type="checkbox" class="form-control" id="active" ng-model="userEdit.active" ng-disabled="processing" bootstrap-switch>
								</div>
							</div>
						</div>
						<div class="panel-footer text-center">
							<button class="btn btn-primary" type="submit" ng-disabled="processing" ng-click="saveUser(id)">Zapisz</button>
							<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelUser()" value="Anuluj">
						</div>
					</div>
					<div ng-if="processing">
						<div class="text-center"><img src="public/img/loader.gif"></div>
					</div>
				</form>
			</div>

			<div class="col-lg-12" ng-show="action == 'password'">
				<div class="panel panel-primary small-panel">
					<div class="panel-heading">Zmiana hasła</div>
					<div class="panel-body">
						<form class="form" role="form" method="post">
							<input type="hidden" ng-model="passwordEdit.id">
							<div class="form-group">
								<label for="password_set">Nowe hasło:</label>
								<input type="password" class="form-control" id="password_set" ng-model="passwordEdit.password_set" ng-disabled="processing" required>
							</div>
							<div class="form-group">
								<label for="password_repeat">Powtórz hasło:</label>
								<input type="password" class="form-control" id="password_repeat" ng-model="passwordEdit.password_repeat" ng-disabled="processing" required>
							</div>
							<div class="text-center">
								<button class="btn btn-primary" type="submit" ng-disabled="processing" ng-click="savePassword(id)">Zapisz</button>
								<input class="btn btn-warning" type="button" ng-disabled="processing" ng-click="cancelUser()" value="Anuluj">
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="col-lg-12" ng-show="action == 'rights'">
				<div class="panel panel-primary">
					<div class="panel-heading">User Access Rights (User #{{ userEdit.id }}: {{ userEdit.login }}, {{ roles[userEdit.role - 1].name }})</div>
					<div class="panel-body">
						<div class="row my-toolbar">
							<div class="col-sm-4 text-left search my-search">
								<input type="search" class="form-control" ng-model="rightsValue" placeholder="Szukaj">
								<a href="#" class="btn btn-primary" ng-click="findRights()">Szukaj</a>
								<a href="#" class="btn btn-danger" ng-click="closeFilter()"><i class="fa fa-times" aria-hidden="true"></i></a>
							</div>
							<div class="col-sm-8 text-right buttons">
								<input class="btn btn-danger" type="button" ng-click="getUsers()" value="Zamknij">
							</div>
						</div>
						<div class="table-responsive">
							<table class="table-bordered table-striped">
								<tr class="table-header">
									<th>Id</th>
									<th>Resource</th>
									<th>Description</th>
									<th class="text-center">Access</th>
									<th class="text-center">Action</th>
								</tr>
								<tr ng-if="processing">
									<td colspan="5" class="loading"><img src="public/img/loader.gif"></td>
								</tr>
								<tr ng-if="!processing" ng-repeat="right in rightsList | filter:rightsValue">
									<td>{{ right.id }}</td>
									<td>{{ right.resource }}</td>
									<td>{{ right.description }}</td>
									<td class="text-center"><button type="button" class="btn btn-{{ right.access == '1' ? 'success' : 'danger' }} btn-xs"><span class="glyphicon glyphicon-{{ right.access == '1' ? 'ok' : 'remove' }}"></span></button></td>
									<td class="action">
										<a href="#" class="btn btn-primary btn-xs" ng-click="setAccess(right.resource_id, true)" ng-disabled="saving">Pozwól</a>
										<a href="#" class="btn btn-warning btn-xs" ng-click="setAccess(right.resource_id, false)" ng-disabled="saving">Odmów</a>
									</td>
								</tr>
								<tr ng-if="!rightsList.length && !processing">
									<td colspan="5">
										<div class="content-center">
											<img src="public/img/not-found.png" class="img-responsive" alt="No results">
											<div class="no-results">(Brak wyników)</div>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
				<div ng-include="layout.paginator"></div>
			</div>

			<div class="col-lg-12">
				<div ng-include="layout.messager"></div>
			</div>

			<div class="col-lg-12" ng-show="action == 'dialog'">
				<div class="screen-centered">
					<div class="panel panel-primary my-dialog">
						<div class="panel-heading">Usuwanie rekordu</div>
						<div class="panel-body">
							<p><div class="icon"><i class="fa fa-3x fa-trash-o" aria-hidden="true"></i></div></p>
							<p>Uwaga! Czy na pewno chcesz usunąć wskazaną pozycję?</p>
						</div>
						<div class="panel-footer">
							<a href="#" class="btn btn-danger" ng-disabled="processing" ng-click="deleteUser(id, true)">Skasuj</a>
							<a href="#" class="btn btn-warning" ng-disabled="processing" ng-click="cancelUser()">Anuluj</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

</div>
