<div class="screen-centered">
    <div class="panel panel-primary error-message">
        <div class="panel-heading">Dostęp zabroniony</div>
        <div class="panel-body">
            <span class="icon"><i class="fa fa-4x fa-times-circle-o" aria-hidden="true"></i></span>
            <span class="message">Nie masz dostępu do tej funkcji serwisu. <br>Aby uzyskać do niej dostęp, zaloguj się na konto z odpowiednimi uprawnieniami.</span>
        </div>
        <div class="panel-footer">
            <a href="/admin" class="btn btn-warning" ng-disabled="processing">Zamknij</a>
        </div>
    </div>
</div>
